<%- include('../header') %>
<% 
    var m = new moment(flight.departs);
    var date = m.format('MMMM Do, YYYY');
    var time = m.format('h:mm a');
%>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<h2>Flight Information</h2>
<div class="main-content">
    <div class="flight-layout">
        <div>
            <div class='flight-info'>
                <h1><%= flight.airline %> #<%= flight.flightNo %></h1>
                <p>Departs from: <%= flight.airport %></p>
                <p>Departure date: <%= date %></p>
                <p>Departure time: <%= time %></p><br>
                <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST">
                    <button id="delete-flight">Delete this flight</button>
                </form>
            </div>
        </div>
        <div> 
            <h3>Seats</h3>
            <div class="seats">
                <table class="seats">
                    <tr>
                        <% for(let i=0; i<6; i++) { %>
                            <th><%= String.fromCharCode(i+65) %></th>
                        <% } %>
                    </tr>
                    <% for(let i=1; i<=99; i++) { %>
                        <tr>
                            <% for(let j=0; j<6; j++) { %>
                                <td>
                                    <% var val =  String.fromCharCode(j+65) + String(i); %>
                                    <div 
                                        class="<%= tickets[val] ? 'seat occupied' : 'seat vacant' %>"
                                        data-value="<%= val %>"
                                        data-flight-id="<%= flight._id %>"
                                        data-ticket-id="<%= tickets[val] ? tickets[val]._id : null %>"
                                        title="<%= tickets[val] ? '$' + String(tickets[val].price) : null %>">
                                        <%= val %>
                                    </div>
                                </td>
                            <% } %>
                        </tr>
                    <% } %>
                </table>
            </div>
        </div>
        <div class="destinations">
            <h3>Destinations</h3>
            <table id='destinations' class="destinations" data-id="<%= flight._id %>">
                <tr>
                    <th>Destination
                        <button id="add-destination">+</button>
                        <script src='/javascripts/addDestination.js'></script>
                    </th>
                    <th>Arrival Date</th>
                    <th>Time</th>
                    <th>Delete</th>
                </tr>
                <% flight.destinations.forEach(function(destination) {
                    m = new moment(destination.arrival);
                    date = m.format('MMMM Do, YYYY');
                    time = m.format('h:mm a');
                %>
                    <tr>
                        <td><%= destination.airport %></td>
                        <td><%= date %></td>
                        <td><%= time %></td>
                        <td class="delete-flight"><button class="delete-flight">x</button></td>
                    </tr>
                <% }); %>
            </table>
        </div>
    </div>
</div>
<script src="/javascripts/clickTableData.js"></script>
<%- include('../footer') %>